<div class="row">

  <h2>Example body text</h2>
<p>Nullam quis risus eget <a href="">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
<p><small>This line of text is meant to be treated as fine print.</small></p>
<p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
<p>The following snippet of text is <em>rendered as italicized text</em>.</p>
<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
</div>
<div class="row">
<div class="col-sm-6">
<div class="form-group">
                  <label class="control-label" for="focusedInput">Name</label>
                  <input myBorder class="form-control" id="focusedInput" type="text" value="">
                </div>
</div>
<div class="col-sm-6">
<div class="form-group" [hideIt]='false'>
                  <label class="control-label" for="focusedInput">Qalification</label>
                  <input myBorder="blue" class="form-control" id="focusedInput" type="text" value="">
                </div>
</div>
</div>
<div class="row">
  <input #testing (keyup) = "cFun(testing.value)">
<a (click)="cFun()" myBorder="pink" class="btn btn-default">Default</a>
<!--<a href="#" class="btn btn-primary">Primary</a>
<a href="#" class="btn btn-success">Success</a>
<a href="#" class="btn btn-info">Info</a>
<a href="#" class="btn btn-warning">Warning</a>
<a href="#" class="btn btn-danger">Danger</a>-->
</div>