<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="activeLink"><i class="fa fa-home" aria-hidden="true"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutus" routerLinkActive="activeLink">About <i class="fas fa-chevron-down d-none d-md-inline" data-fa-transform="shrink-4 left-33 down-16"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users-list" routerLinkActive="activeLink">Add New <i class="fas fa-chevron-down d-none d-md-inline" data-fa-transform="shrink-4 left-46 down-16"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/myprofile" routerLinkActive="activeLink">Profile <i class="fas fa-chevron-down d-none d-md-inline" data-fa-transform="shrink-4 left-36 down-16"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="activeLink">Contact <i class="fas fa-chevron-down d-none d-md-inline" data-fa-transform="shrink-4 left-36 down-16"></i></a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" (click)="login()">Login {{user}}<i class="fas fa-chevron-down d-none d-md-inline" data-fa-transform="shrink-4 left-32 down-16"></i></a></li>
      </ul>
  </div>
</nav>


<div class="container-fluid">
  
    
      <router-outlet></router-outlet>
    </div>

