<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/aboutus" routerLinkActive="active">About</a></li>
        <li><a routerLink="/users-list" routerLinkActive="active">Add New</a></li>
        <li><a routerLink="/myprofile" routerLinkActive="active">Profile</a></li>
        
      </ul>
      <dtcc-nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
      </ul>
      </dtcc-nav>
    </div>
  </div>
</nav>
<div class="container-fluid">
  
    
      <router-outlet></router-outlet>
    </div>

