/* You can add global styles to this file, and also import other style files */
.fa.fa-refresh {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.navbar-brand {
    border-radius: 25px;
    border-right: 2px solid;
    box-shadow: 2px 0px 3px -1px;
}
.navbar-dark .navbar-nav .nav-link svg {
opacity: 0;
}
.navbar-dark .navbar-nav .nav-link.activeLink svg {
    opacity: 1;
}
.navbar-dark .navbar-nav .nav-link {
    color:#fff;
}
.navbar-dark .navbar-nav .nav-link.activeLink {
    color:#000;
}
.navbar-dark .navbar-brand.activeLink {
    color:#000;
    
}
.navbar-dark .navbar-brand.activeLink:focus {
        color:#000;
    }

/*Dashboard Styles*/

.form-control:focus {
    box-shadow: none;
}
.radio-error {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 15px;
}
span.paymentStatus {
    color: white;
    padding: 0px 8px 3px;
    border-radius: 5px;
}
.bg-dark {
    background-color: rgba(52, 58, 64, 0.8588235294117647)!important;
}
.dashboardAdminTab .nav-pills {
    margin-bottom: 1rem;
}

.dashboardAdminTab .nav-pills a.active {
    background: #ffc107;
    color: #000;
}

.dashboardAdminTab .nav-pills a {
    color: #5a5959;
}

.dashboardAdminTab .nav-pills a.active:hover {
    color: #212529;
    background-color: #e0a800;
}

.dashboardAdminTab .nav-pills a:hover {
    color: #212529;
}