/* You can add global styles to this file, and also import other style files */
.fa.fa-refresh {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.navbar-brand {
    border-radius: 25px;
    border-right: 2px solid;
    box-shadow: 2px 0px 3px -1px;
}
.navbar-dark .navbar-nav .nav-link svg {
opacity: 0;
}
.navbar-dark .navbar-nav .nav-link.activeLink svg {
    opacity: 1;
}
.navbar-dark .navbar-nav .nav-link {
    color:#fff;
}
.navbar-dark .navbar-nav .nav-link.activeLink {
    color:#000;
}
.navbar-dark .navbar-brand.activeLink {
    color:#000;
    
}
.navbar-dark .navbar-brand.activeLink:focus {
        color:#000;
    }