<p *ngIf="userFirstName">Hello {{userFirstName}}</p>
<!--<p>{{posts }}</p>-->
<!--<ul *ngFor="let post of posts | async">
  <li>
    
    {{post.name}} ({{post.oil_history.length}})
  </li>
</ul>
-->
<div>
  <div *ngIf="checkData">
    <ul *ngFor="let data of checkData.oil_history">
      <li>

        {{data.product}}
      </li>
    </ul>
  </div>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>

    </tbody>
  </table>
</div>